:root {
    --bg: rgb(245, 245, 245);
    --nav-bg: rgb(40, 62, 75);
    --paper-border-color: rgb(120, 120, 120);
    --paper-bg: white;
    --paper-shadow-color: gray;
    --paper-shadow: 0 6px 6px -4px var(--paper-shadow-color);
    --scale-animate-time: 0.5s;
    --scale-animate-scale: scale(1.05);
    --expand-animate-time: 0.75s;
    --nav-link-color: white;
    --small-spacing: 1em;
    --med-spacing: 2em;
    --link-color: blue;
}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.nav-button {
    font: bold 14px;
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--nav-link-color);
    padding: 2px 6px 2px 6px;
}

.link:link {
    text-decoration: none
}

.link:link, .link:visited {
    color: var(--link-color);
}

.clean-list {
    list-style: none;
    padding-left: var(--small-spacing);
}

.nav-bar {
    display: flex;
    background-color: var(--nav-bg)
}

.nav-bar > a {
    margin: var(--small-spacing);
}

.animate-scale {
    -moz-transition: var(--scale-animate-time);
    -ms-transition: var(--scale-animate-time);
    -o-transition: var(--scale-animate-time);
    -webkit-transition: var(--scale-animate-time);
    transition: var(--scale-animate-time);
}

.animate-scale:hover {
    -moz-transform: var(--scale-animate-scale);
    -ms-transform: var(--scale-animate-scale);
    -o-transform: var(--scale-animate-scale);
    -webkit-transform: var(--scale-animate-scale);
    transform: var(--scale-animate-scale);
}

.expand-marker {
    transform: scale(0)
}

@keyframes expand {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
/* @keyframes expand {
    from {transform: translateX(1000px);}
    to {transform: translateX(0px)}
} */
.animate-expand {
    animation-name: expand;
    -moz-animation-name: expand;
    -o-animation-name: expand;
    -webkit-animation-name: expand;
    animation-duration: var(--expand-animate-time);
    -moz-animation-duration: var(--expand-animate-time);
    -o-animation-duration: var(--expand-animate-time);
    -webkit-animation-duration: var(--expand-animate-time);
}


html, body {
    height: 100%;
}

body {
    background-color: var(--bg);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main, aside, section, article {
    background-color: var(--paper-bg);
    padding-left: var(--small-spacing);
    padding-right: var(--small-spacing);
    margin: var(--med-spacing);
    margin-top: 0px;
    border-style: solid;
    border-color: var(--paper-border-color);
    border-width: 1px;
    box-shadow: var(--paper-shadow);
}

main, section, article {
    width: 1000px;
}

header {
    margin-left: var(--med-spacing);
}

footer {
    margin-top: auto;
    margin-bottom: var(--small-spacing);
    text-align: center;
    flex-shrink: 0;
}
