:root {
    --bg: rgb(245, 245, 245);
    --nav-bg: rgb(40, 62, 75);
    --paper-border-color: rgb(120, 120, 120);
    --paper-bg: white;
    --paper-shadow-color: gray;
    --paper-shadow: 0 6px 6px -4px var(--paper-shadow-color);
    --scale-animate-time: 0.5s;
    --scale-animate-scale: scale(1.05);
    --expand-animate-time: 0.75s;
    --nav-link-color: white;
    --nav-link-active-color: rgb(202, 202, 202);
    --small-spacing: 1em;
    --med-spacing: 2em;
    --border-width: 1px;
    --link-color: blue;
    --input-color: rgb(95, 95, 95);
    --success-color: green;
    --warning-color: rgb(248, 223, 0);
    --danger-color: red;
    --success-active-color: rgb(0, 92, 5);
    --warning-active-color: rgb(211, 191, 8);
    --danger-active-color: rgb(199, 0, 0);

}

.flex-container {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-row {
    flex-direction: row;
}

.nav-button {
    font: bold 14px;
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--nav-link-color);
    padding: 2px 6px 2px 6px;
}

.active-nav-button {
    color: var(--nav-link-active-color);
    font-weight: bold;
}

.success-button, .warning-button, .danger-button {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    color: var(--nav-link-color);
    padding: 10px 15px;
    border: var(--border-width);
    border-style: solid;
    border-color: var(--paper-border-color);
    box-shadow: var(--paper-shadow);
}
.success-button {
    background-color: var(--success-color);
}

.success-button:hover {
    background-color: var(--success-active-color);
}

.warning-button {
    background-color: var(--warning-color);
}

.warning-button:hover {
    background-color: var(--warning-active-color);
}

.danger-button {
    background-color: var(--danger-color);
}

.danger-button:hover {
    background-color: var(--danger-active-color);
}

.link {
    text-decoration: none;
    color: var(--link-color);
}

.clean-list {
    list-style: none;
    padding-left: var(--small-spacing);
}

.nav-bar {
    display: flex;
    background-color: var(--nav-bg)
}

.nav-bar > a {
    margin: var(--small-spacing);
}

.text-box {
    display: block;
    width: 500px;
    background: white;
    color: var(--input-color);
    font: inherit;
    box-shadow: var(--paper-shadow);
    border: var(--border-width);
    border-style: solid;
    border-color: var(--paper-border-color);
    outline: 0;
    padding: 22px 18px;
    margin-bottom: 1em;
}

/* Animations */
.animate-scale {
    -moz-transition: var(--scale-animate-time);
    -ms-transition: var(--scale-animate-time);
    -o-transition: var(--scale-animate-time);
    -webkit-transition: var(--scale-animate-time);
    transition: var(--scale-animate-time);
}

.animate-scale:hover {
    -moz-transform: var(--scale-animate-scale);
    -ms-transform: var(--scale-animate-scale);
    -o-transform: var(--scale-animate-scale);
    -webkit-transform: var(--scale-animate-scale);
    transform: var(--scale-animate-scale);
}

.expand-marker {
    transform: scale(0)
}

@keyframes expand {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.animate-expand {
    animation-name: expand;
    -moz-animation-name: expand;
    -o-animation-name: expand;
    -webkit-animation-name: expand;
    animation-duration: var(--expand-animate-time);
    -moz-animation-duration: var(--expand-animate-time);
    -o-animation-duration: var(--expand-animate-time);
    -webkit-animation-duration: var(--expand-animate-time);
}

.paper {
    background-color: var(--paper-bg);
    padding-left: var(--small-spacing);
    padding-right: var(--small-spacing);
    margin: var(--med-spacing);
    margin-top: 0px;
    border-style: solid;
    border-color: var(--paper-border-color);
    border-width: var(--border-width);
    box-shadow: var(--paper-shadow);
}

/* Carousel */
.carousel {
    position: relative;
    margin: var(--small-spacing) auto auto auto;
}

.carousel-slide {
    display: none;
}

.carousel-image {
    max-height: 500px;
    margin: 0 auto;
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
}

.caption {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-left:  2px;
    margin-right: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dots-container {
    text-align: center;
    margin-bottom: var(--small-spacing);
}

.active, .dot:hover {
    background-color: #717171;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg);
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main, section, article {
    width: 1000px;
}

header {
    margin-left: var(--med-spacing);
}

footer {
    margin-top: auto;
    margin-bottom: var(--small-spacing);
    text-align: center;
    flex-shrink: 0;
}
